body{
  font-family: 'ZCOOL KuaiLe', cursive;
  background-size: cover;
}
.jumbotron{
  float : right;
  background-color: black;
  font-family: 'Amatic SC', cursive;
}
img{
  float: left;
  resize: both;
}
#ep{
font-size: 40px;
}
#art{
  background-color: inherit;
}
